body {
    text-align: center;
    background: black;
     }

#game-over, #game-over-overlay {
    margin: auto;
    width: 910px;
    height: 706px;
    position: absolute;
    top: 0;
    left: 299px;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .5;
}

#game-over {
    height: 200px;
    text-align: center;
    color: white;
}

#game-over h1 {
    font-size: 3em;
    font-family: sans-serif;
}

#game-over button {
    font-size: 1.5em;
}
#status{
	
	font-size: 20px;
	text-align:right;
	color: red;
}


#secondstxt{
		font-size: 20px;
	text-align:center;
	color: red;
}

#myMeter {
  width: 200px;
  height: 40px;
}