body {
    text-align: center;
    background: black;
     }
.startfont{
     font-size: 3em;
    font-family: sans-serif;
  text-align: center;
    color: white;
};
bg1{background:green;

}
#game-over, #game-over-overlay {
    margin: auto;
    width: 910px;
    height: 706px;
    position: absolute;
    top: 0;
    left: 299px;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .5;
}

#game-over {
    height: 200px;
    text-align: center;
    color: white;
}

#game-over h1 {
    font-size: 3em;
    font-family: sans-serif;
}

#game-over button {
    font-size: 1.5em;
}
#status{

	font-size: 20px;
	text-align:right;
	color: red;
}


#secondstxt{
		font-size: 20px;
	text-align:center;
	color: red;
}


#myMeter {
  width: 200px;
  height: 40px;
}
#game-win, #game-win-overlay {
    margin: auto;
    width: 910px;
    height: 706px;
    position: absolute;
    top: 0;
    left: 299px;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#game-win-overlay {
    background-color: black;
    opacity: .5;
}

#game-win {
    height: 200px;
    text-align: center;
    color: white;
}

#game-win h1 {
    font-size: 3em;
    font-family: sans-serif;
}

#game-win button {
    font-size: 1.5em;
}
#mymsg{
     font-size: 40px;
    font-family: sans-serif
    text-align: center;
    border: 0;
    background:transparent;
    font-weight: bolder;
    color: blue;
}
#mymsg1{
     font-size: 50px;
    font-family: sans-serif
    text-align: center;
    border: 0;
    background:transparent;
    font-weight: bolder;
    color: orange;
}
/*http://codepen.io/pstenstrm/pen/yKJoe*/
a {
  -moz-animation-duration: 400ms;
  -moz-animation-name: blink;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;

  -webkit-animation-duration: 400ms;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  animation-duration: 400ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-moz-keyframes blink {
  from {
    opacity: 1;

  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}